
/*The main header*/
.App-header {
  min-height: 100vh;
  display: flex;
  position: relative;

}
/*Nav that contains website categories*/
.Header-nav {
  font-size:15px;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;
  position:relative;
  border-radius: 25px;
  width: 100%; left:auto; right:auto; margin:auto; 
  
}

.Header-div{
margin:auto;
}

a{
  color: inherit;
  text-decoration:none;
  cursor: pointer;
  
}


