.title {
	font-weight: 600;
}
/*Website category
.unlisted-element {
  display: table-cell;
	text-align: center;
	height: 100%;
	top: auto;
	padding: 4px 10px 10px 10px;
	transition: all 0.5s;
	cursor: default;
	list-style-type: none;
  
	border-style: solid;
	border-width: 0px 1px 0px 1px;
}

.unlisted-element:hover {
	border-width: 0px 1px 0px 1px;
	border-right-style: solid;
	border-left-style: solid;
}
*/

/*Style for paragraphs, contained in the website names*/
p {
	top: auto;
	width: auto;
	left: auto;
	right: auto;
	bottom: 0px;
	margin-bottom: 0px;
	margin-top: 5px;
	font-size: 20px;
}

/*Hovering on the websites pinned in each category*/
.entertainment:hover {
	color: rgb(255, 98, 98);
	border-color: rgb(255, 98, 98);
}

.entertainment > li > a:hover {
	color: rgb(199, 0, 0);
	transition: 1s;
}

.social:hover {
	color: rgb(50, 223, 107);
	border-color: rgb(50, 223, 107);
}

.social > li > a:hover {
	color: rgb(0, 168, 56);
	transition: 1s;
}

.music:hover {
	color: rgb(70, 202, 255);
	border-color: rgb(70, 202, 255);
}

.music > li > a:hover {
	color: rgb(25, 163, 218);
	transition: 1s;
}

.Reddit:hover {
	color: rgb(195, 91, 255);
	border-color: rgb(195, 91, 255);
}

.Reddit > li > a:hover {
	color: rgb(138, 9, 212);
	transition: 1s;
}

.chan:hover {
	color: rgb(75, 255, 105);
	border-color: rgb(75, 255, 105);
}

.chan > li > a:hover {
	color: rgb(0, 199, 33);
	transition: 1s;
}

.unique {
	top: auto;
	width: auto;
	left: auto;
	right: auto;
	margin-top: 5px;
	font-size: 20px;
}
/*End of category colors*/
